<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Freshness Detector</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/form_upload.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <form class="form-upload" method=post enctype=multipart/form-data>
      <h1 class="h2 mb-3 font-weight-normal">Freshness Detector</h1>
      <br>
      <h1 class="h6 mb-3 font-weight-normal">Please upload image</h1>
      <input type="file" id="image" name="image" class="form-control" required autofocus>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Detect</button>
      <br>
      {% if image_loc %}
        <img class="mb-4" src="{{image_loc}}" alt="" width="256" height="256">
        <h3 class="h3 mb-3 font-weight-normal">Freshness: {{prediction}}%</h3>
      {%endif%}
    </form>
  </body>
</html>
